/* UI colors */
:root {
    --white: #F8FAFC;
    --black: #1B1B1E;
    --background-color: #E0FFFF;
    --light-red: #FDA4AF; 
    --dark-red: #FF506E;
    --skin: #FED7AA;
    --light-wood: #E08E45;
    --dark-wood: #64230D;
    --very-light-blue: #E0FFFF;
    --light-blue: #44bcf2;
    --dark-blue: #0c71c4;
    --bright-yellow: #FFCA27;
    --bright-orange: #FF822C;
    --bright-red: #EA3F45;
    --box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    --border-radius: 8px 8px 0px 0px;
}

html {
    font-size: 62.5%;
    counter-reset: score 0;
}

/* reset defaults and initializes counter */
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-color);

     
    }

/* checkbox increments the score and hides itself */
.main-container input:checked {
    counter-increment: score;
    /* visibility: hidden; */
}


.scoreboard-counter::after {
    content: counter(score);
 }


/* removes frame for small screens */
@media only screen and (max-width: 420px) {
    body .phone-frame {
        display: none;
    }

    /* makes screen 100 of device width and height */
    body .main-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    
}

/* shows black iPhone frame - layer 0 */
.phone-frame {
    
    box-sizing: border-box;
    width: 320px;
    height: 620px; 
     
    position: absolute; 
    
    border: 16px solid var(--black);
    border-radius: 40px;
    box-shadow: var(--box-shadow); 
    background-color: transparent;
    z-index: 0;
}

/* screen component - layer 1 */
.main-container {
    width: 288px;
    height: 588px;
    box-sizing: border-box;

    overflow: hidden;
    position: relative;
    z-index: 1;
    
    background-color: var(--very-light-blue);
    border-radius: 22px;
}

/* wooden background - layer 2 */
.background-container {
    height: 80%;
    width: 100%;

    position: absolute;
    top: 10%;
    z-index: 2;

    background-color: var(--light-wood);

}

/* back track area - layer 3 */
.back-track-container {
    
    height: 60%;
    width: 50%;
    bottom: 10%;
    margin-left: 25%;
    
    position: absolute;
    z-index: 3;
    
    /* border: 2px solid white; */

}

/* back track rail */
.back-track-dark {
    height: 80%;
    width: 100%;
    bottom: 0%;
    margin-left: 0%;
    
    position: absolute;
    z-index: 1;

    background-color: var(--dark-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow); 
}

/* back track rail */
.back-track-light {
    height: 76.5%;
    width: 100%;
    bottom: 0%;
    margin-left: 0%;
    
    position: absolute;
    z-index: 2;

    background-color: var(--light-blue);
}


/* middle track area - layer 4 */
.middle-track-container {
    
    height: 40%;
    width: 65%;
    bottom: 10%;
    margin-left: 17.5%;
    
    position: absolute;
    z-index: 4;
    
    /* border: 2px solid white; */

}

/* middle track rail */
.middle-track-dark {
    height: 70%;
    width: 100%;
    bottom: 0%;
    margin-left: 0%;
    
    position: absolute;
    z-index: 2;

    background-color: var(--dark-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow); 
}
/* middle track rail */
.middle-track-light {
    height: 65%;
    width: 100%;
    bottom: 0%;
    margin-left: 0%;
    
    position: absolute;
    z-index: 2;

    background-color: var(--light-blue); 
}


/* front track area - layer 5 */
.front-track-container {
    
    height: 20%;
    width: 80%;
    bottom: 10%;
    margin-left: 10%;
    
    position: absolute;
    z-index: 5;
    
    /* border: 2px solid white; */
}

/* front track rail */
.front-track-dark {
    height: 40%;
    width: 100%;
    bottom: 0%;
    margin-left: 0%;
    
    position: absolute;
    z-index: 1;

    background-color: var(--dark-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow); 
}

/* front track rail */
.front-track-light {
    height: 30%;
    width: 100%;
    bottom: 0%;
    margin-left: 0%;
    position: absolute;
    z-index: 2;
    background-color: var(--light-blue);


}


/* foreground area - layer 6 */
.foreground-top {
    
    height: 10%;
    width: 100%;
    top: 0%;
    margin-left: 0%;
    
    position: absolute;
    z-index: 6;
    
    background-color: var(--dark-red);
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.2);  

}

.foreground-bottom {
    
    height: 10%;
    width: 100%;
    bottom: 0%;
    margin-left: 0%;
    
    position: absolute;
    z-index: 6;
    
    background-color: var(--dark-red);
    box-shadow: 0 -6px 6px hsl(0deg 0% 0% / 0.1); 
}

.scoreboard-container {
    
    height: 10%;
    width: 30%;
    top: 15%;
    margin-left: 35%;
    
    position: absolute;
    z-index: 7;
    
    background-color: var(--dark-red);
    border-radius: 16px;

}

input[type="checkbox"] {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    opacity: 0.5;
}

.duck-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid red;
}
