/* UI colors */
:root {
    --white: #F8FAFC;
    --black: #1B1B1E;
    --background-color: #FFF8DC;
    --light-red: #FDA4AF; 
    --dark-red: #FF506E;
    --skin: #FED7AA;
    --light-wood: #E08E45;
    --dark-wood: #64230D;
    --very-light-blue: #E0FFFF;
    --light-blue: #BBE6E4;
    --dark-blue: #053760;
    --bright-yellow: #FFCA27;
    --bright-orange: #FF822C;
    --bright-red: #EA3F45;
    --box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    counter-reset: score 0;
}

/* reset defaults and initializes counter */
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-color);

     
    }

/* checkbox increments the score and hides itself */
.main-container input:checked {
    counter-increment: score;
    /* visibility: hidden; */
}


.scoreboard-counter::after {
    content: counter(score);
 }


/* removes frame for small screens */
@media only screen and (max-width: 420px) {
    body .phone-frame {
        display: none;
    }

    body .main-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    
}

.phone-frame {
    
    box-sizing: border-box;
    width: 320px;
    height: 620px; 
     
    position: absolute; 
    border: 16px solid var(--black);
    border-radius: 40px;
    box-shadow: var(--box-shadow); 
    background-color: none;
}

.main-container {
    border: 2px solid red;
    border-radius: 50px;
    overflow: hidden;
    width: 320px;
    height: 620px;
    padding: 24px;
    box-sizing: border-box;
}
